# list , tuple , set

# list variable

In [1]:
# list is a variable where we can store the data
l1 = [1,25,36,"prakash",True,5+8j,52.14]

In [3]:
type(l1)

list

In [5]:
# slicing and indexing 
l1[3]

'prakash'

In [6]:
l1[5]

(5+8j)

In [7]:
l1[6]

52.14

In [8]:
l1[9]

IndexError: list index out of range

In [9]:
# slicing from [starting point:end point]
l1[0:3]

[1, 25, 36]

In [11]:
l1[-1]      # reverse indexing

52.14

In [13]:
l1[::-1]       # slicing in reverse order

[52.14, (5+8j), True, 'prakash', 36, 25, 1]

In [14]:
l1

[1, 25, 36, 'prakash', True, (5+8j), 52.14]

In [15]:
l1[::2]      # even order slicing

[1, 36, True, 52.14]

In [16]:
s = "prakash"

In [20]:
l1+s     # two different data type cannot execute

TypeError: can only concatenate list (not "str") to list

In [18]:
list(s)    # to remover the above we take list as a function but here we see that it will break the string

['p', 'r', 'a', 'k', 'a', 's', 'h']

In [21]:
l1

[1, 25, 36, 'prakash', True, (5+8j), 52.14]

In [22]:
l1[3]    # slicing of list of a striing of string

'prakash'

In [23]:
l1[3][:3]

'pra'

In [24]:
l1[4]

True

In [25]:
str(l1[4])[:3]      # inbuilt function will be executed after type casting

'Tru'

In [26]:
l1

[1, 25, 36, 'prakash', True, (5+8j), 52.14]

In [27]:
l1+5       # two different data type cannot be executed ,, unless and untill 5 is not converted into a list

TypeError: can only concatenate list (not "int") to list

In [30]:
l2 =[3,4,5]

In [31]:
l1+l2

[3, 4, 5, 3, 4, 5]

In [32]:
l1

[3, 4, 5]

In [33]:
l1 = [1, 25, 36, 'prakash', True, (5+8j), 52.14]

In [34]:
l1+l2

[1, 25, 36, 'prakash', True, (5+8j), 52.14, 3, 4, 5]

In [35]:
l2*3     # multiply it with number of times

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [36]:
# no of elements
len(l1)

7

In [37]:
l1

[1, 25, 36, 'prakash', True, (5+8j), 52.14]

In [39]:
l1.append(5)       # append is inbuilt function , so the solution of two data type can be added by using append 
                    # it on the end of the list

In [40]:
s

'prakash'

In [43]:
l1.append('s')

In [44]:
l1

[1, 25, 36, 'prakash', True, (5+8j), 52.14, 5, 'prakash', 'prakash', 's']

In [45]:
l2

[3, 4, 5]

In [51]:
l1

[1,
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'prakash',
 's',
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

[1,
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'prakash',
 's',
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

In [52]:
l1[::-1][::2]

[[3, 4, 5], [3, 4, 5], 'prakash', 5, (5+8j), 'prakash', 25]

In [53]:
l1[-1][1]     # how we can execute data from the fiven list

4

In [54]:
# extend 
l1

[1,
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'prakash',
 's',
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

In [55]:
l3 = [1, 25, 36, 'prakash', True, (5+8j), 52.14, 5, 'prakash']

In [56]:
l3            # executing this with extend

[1, 25, 36, 'prakash', True, (5+8j), 52.14, 5, 'prakash']

In [57]:
l3.extend(4)    # extend except only those data which are iterable means data of data

TypeError: 'int' object is not iterable

In [58]:
l3.extend("prak")

In [59]:
l3             # those type of data can be passed data of data

[1, 25, 36, 'prakash', True, (5+8j), 52.14, 5, 'prakash', 'p', 'r', 'a', 'k']

In [60]:
l3.extend([3,4,5])     # note as we append the data will enter it as it is , but extend will unrap the characters first

In [61]:
l3

[1,
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'p',
 'r',
 'a',
 'k',
 3,
 4,
 5]

In [62]:
# uptill now we know what append and extend can do

In [63]:
l4 =[4,5,6]     # place the data in even position,  insert()

In [64]:
l1.insert(1,"kamal")

In [65]:
l1

[1,
 'kamal',
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'prakash',
 's',
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

In [66]:
l1.insert(2,[2,3,4])

In [67]:
l1

[1,
 'kamal',
 [2, 3, 4],
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'prakash',
 's',
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

In [68]:
l1

[1,
 'kamal',
 [2, 3, 4],
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'prakash',
 's',
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

In [71]:
l3.insert(0,52)

In [72]:
l3

[52,
 1,
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'p',
 'r',
 'a',
 'k',
 3,
 4,
 52,
 5]

In [73]:
l3.pop()       # pop will remove the data from the last

5

In [74]:
l3

[52,
 1,
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'p',
 'r',
 'a',
 'k',
 3,
 4,
 52]

In [75]:
l3.pop()     # by default the  data will remove from the last

52

In [76]:
l3.pop(3)    # it wil remove the data from the indexes also

36

In [77]:
l3.remove(3)      # pop always go ahead with the indexes but remove will go ahead with value

In [78]:
l3

[52,
 1,
 25,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'p',
 'r',
 'a',
 'k',
 4]

In [79]:
l3.remove(234)

ValueError: list.remove(x): x not in list

In [80]:
l1

[1,
 'kamal',
 [2, 3, 4],
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'prakash',
 's',
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

In [82]:
l1[2].remove(3)        # we can remove the value from list of list by this way

In [83]:
l1

[1,
 'kamal',
 [2, 4],
 25,
 36,
 'prakash',
 True,
 (5+8j),
 52.14,
 5,
 'prakash',
 'prakash',
 's',
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

In [87]:
l1[5].remove('pra')

AttributeError: 'str' object has no attribute 'remove'

In [88]:
l1[::-1]       # it does not manupulate the orignal list

[[3, 4, 5],
 [3, 4, 5],
 [3, 4, 5],
 's',
 'prakash',
 'prakash',
 5,
 52.14,
 (5+8j),
 True,
 'prakash',
 36,
 25,
 [2, 4],
 'kamal',
 1]

In [89]:
l1.reverse()

In [90]:
l1          # reverse will change the value permanently

[[3, 4, 5],
 [3, 4, 5],
 [3, 4, 5],
 's',
 'prakash',
 'prakash',
 5,
 52.14,
 (5+8j),
 True,
 'prakash',
 36,
 25,
 [2, 4],
 'kamal',
 1]

# sort

In [1]:
# ascending order

l4 = [7,5,8,2,6,1,3]
l4.sort()

In [2]:
l4               # while sorting or compring between data you can compare it with similar data type

[1, 2, 3, 5, 6, 7, 8]

In [3]:
l5 = ["suman","kumar","dhiraj","devesh","anant"]

In [8]:
l5.sort(reverse= False)         # arrange this in ascending order

In [9]:
l5

['anant', 'devesh', 'dhiraj', 'kumar', 'suman']

In [12]:
l5.sort(reverse=True)     # arrange in decending order

In [13]:
l5

['suman', 'kumar', 'dhiraj', 'devesh', 'anant']

In [14]:
l5.index("kumar")     # it willl give you the place where we can place it

1

In [15]:
l5.count("dhiraj")    # it will provide the number of occurance of the data

1

In [16]:
 d = "prak"

In [17]:
l6 = [5,6,7,2]

In [18]:
# replacing s r with a

In [19]:
d[0]= 'k'

TypeError: 'str' object does not support item assignment

In [20]:
l6[0]=30

In [21]:
l6

[30, 6, 7, 2]

In [22]:
d.replace('p','a')      # the orignal will reamins the same this is the concept of immutability

'arak'

In [23]:
d

'prak'

# tuple

In [24]:
t = (1,2,3,4,5,"prakash",45.62,5+6j,[3,4,5]) # tuples is also a collection of data same as list

In [25]:
# type of tuples 
type(t)

tuple

In [26]:
len(t)

8

In [27]:
t[0]

1

In [28]:
t[-1]

(5+6j)

In [29]:
t[::-1]

((5+6j), 45.62, 'prakash', 5, 4, 3, 2, 1)

In [30]:
l5

['suman', 'kumar', 'dhiraj', 'devesh', 'anant']

In [31]:
l5[3]

'devesh'

In [32]:
l5[3]=45       # in list this is applicable

In [33]:
l5

['suman', 'kumar', 'dhiraj', 45, 'anant']

In [34]:
t

(1, 2, 3, 4, 5, 'prakash', 45.62, (5+6j))

In [35]:
t[2]="suman"     # string and tuple does not support because they are immutable

TypeError: 'tuple' object does not support item assignment

In [36]:
# tuple is used where we can not change it, just like password

In [37]:
t[::-1]       # it actually creates your new object created

((5+6j), 45.62, 'prakash', 5, 4, 3, 2, 1)

In [38]:
t.count(5)

1

In [39]:
t.index('prakash')

5

# set

In [40]:
s1={}

In [41]:
type(s1)

dict

In [42]:
s2 ={1,2,4,6}

In [43]:
type(s2)

set

In [44]:
s3 ={324,254,65,"prakash",5+4j,[4,5,6]}  # you can not take the collection of different data type i.e list

TypeError: unhashable type: 'list'

In [45]:
s3 ={324,254,65,"prakash",5+4j,(3,4,5)}    # tuples is immutable data type that is why it can take the tuples

In [46]:
s3

{(3, 4, 5), (5+4j), 254, 324, 65, 'prakash'}

In [47]:
# why are we using set
s4 = {2,5,6,7,8,9,5,4,3,2,1,5}    # data repeatative element , so here we use it as unique element

In [48]:
s4                 # it will remove all the duplicate value

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [49]:
s4 = {2,5,6,7,8,9,5,4,3,2,1,5,"prak","Prak"}     #case sensitive language

In [50]:
s4

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Prak', 'prak'}

In [51]:
# set is used when you want to remove duplicacy

In [52]:
l6 =s4 = {2,5,6,7,8,9,5,4,3,2,1,5,"prak","Prak"}

In [55]:
l6 = set(l6)

######

In [56]:
l6

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Prak', 'prak'}

In [57]:
 s6 = {236, 45,23,16,785,234,"abc",432,342,23}

In [58]:
s6        # set never arrange a data in ascending order , it willjust shoew it in unique manner

{16, 23, 234, 236, 342, 432, 45, 785, 'abc'}

In [60]:
s4

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Prak', 'prak'}

In [61]:
s4[0]    # not work in indexing

TypeError: 'set' object is not subscriptable

In [62]:
s4[::-1]      # slicing is also not applicable

TypeError: 'set' object is not subscriptable

In [63]:
s4

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Prak', 'prak'}

In [66]:
s4.add(51)

In [67]:
s4          # add only the unique element

{1, 2, 3, 4, 5, 51, 6, 7, 8, 9, 'Prak', 'prak'}

In [68]:
s4

{1, 2, 3, 4, 5, 51, 6, 7, 8, 9, 'Prak', 'prak'}

In [69]:
s4.remove(4)

In [70]:
s4

{1, 2, 3, 5, 51, 6, 7, 8, 9, 'Prak', 'prak'}